// COMPLETE LIST OF LEVEL IDs FOR GALACTIC CONTENTION

BespinPlatforms
Coruscant
CorvetteAssaultV2
Felucia
Galban
Geonosis
Kashyyyk
Kavado
Miniosis
Morak
MorakLegacy
Mygeeto
NabooPlains
RhenVar
Ryloth
Sesid
SesidEquator
Sullust
Tatooine
VenatorAssault
Yavin4
Umbara
MallidonCity

### Dev/WIP 
### We do not recommend using any of these level id's for live play!
// Dev_Testing
// Dev_ArmorValues
// Dev_Sound_Testing
// OrtoPlutonia
// KaminoTraining
// CityTest