# Here you can control mod-specific server settings. Mods can use blueprint node "GetCustomServerSetting" to gather the contents of this file. 
# This section used to exist in server.cfg

// Amount of players needed to start Pre-Live countdown, integer. Default=50.
SeedPlayersThreshold=40

// After reaching the SeedPlayersThreshold, if some players disconnect but the current player count stays at or above this value, don’t stop the
// Pre-Live countdown, integer. Should be greater than zero and less than SeedPlayersThreshold to be considered enabled. default=45. 
SeedMinimumPlayersToLive=42

// Match length in seconds, integer. Default=21600 (6 hours)
SeedMatchLengthSeconds=21600

// Enable or Disable availability of all kits during seeding phase, boolean (valid values are 0 and 1), default=1
SeedAllKitsAvailable=1

// Initial number of tickets for both teams, integer. Default=100
SeedInitialTickets=100

// Length of the pre-live countdown, float. Default=60.0
SeedSecondsBeforeLive=60.0

// Target player count for seeding. Bots will be used to fill the server up to this player count.
// Teams will be balanced so that both teams have an equal number of players+bots.
// With SeedTargetPlayerCount=40, this is what you'll see:
// On an empty-ish server			// On a more full server
// Team 1	3 players	17 bots		// Team 1	16 players	4 bots
// Team 2	5 players	15 bots		// Team 2	18 players	2 bots
// Bots will all be killed (and none will spawn) when the seed match is live.
SeedTargetPlayerCount=40

// -----GC SECTION----- //
// To enable crossvoip in GC, the value must be "True"//
// For moderation purposes crossvoip will show the name of the enemy team bottom left. 
// The client cannot speak to the enemy if he is knocked/dead, during the voting period and end game screen. However the client can talk to his teamate and squadmate at these screens.

CrossVoipGC=False

// All default values listed above will be used if the corresponding setting is not present on config file or commented out.