# EXCLUDED FACTION LIST : The listed factions must use Faction ID, which is different from UI display names !
# To exclude any faction just remove '//' before faction/type name

//ADF
//AFU
//BAF
//CAF
//CRF
//IMF
//MEI
//GFI
//PLA
//PLAAGF
//PLANMC
//RGF
//VDV
//USA
//USMC
//TLF
//WPMC

# Excluding battlegroup types
//+AirAssault
//+Amphibious
//+Armored
//+LightInfantry
//+Mechanized
//+Motorized
//+Support

# Excluding specific battlegroups from selected faction
//ADF+AirAssault
//ADF+Mechanized

//AFU+AirAssault
//AFU+Amphibious
//AFU+Armored
//AFU+LightInfantry
//AFU+Mechanized
//AFU+Motorized
//AFU+Support

//BAF+AirAssault
//BAF+Armored
//BAF+Mechanized
//BAF+Support

//CAF+AirAssault
//CAF+Armored
//CAF+Mechanized
//CAF+Motorized
//CAF+Support

//IMF+Armored
//IMF+LightInfantry
//IMF+Mechanized
//IMF+Motorized
//IMF+Support

//MEI+Armored
//MEI+LightInfantry
//MEI+Mechanized
//MEI+Motorized
//MEI+Support

//GFI+AirAssault
//GFI+Armored
//GFI+LightInfantry
//GFI+Mechanized
//GFI+Support

//PLA+AirAssault
//PLA+Armored
//PLA+LightInfantry
//PLA+Motorized
//PLA+Support

//PLAAGF+Amphibious
//PLAAGF+Armored
//PLAAGF+Mechanized

//PLANMC+AirAssault
//PLANMC+Amphibious
//PLANMC+Armored
//PLANMC+LightInfantry
//PLANMC+Motorized
//PLANMC+Support

//RGF+Amphibious
//RGF+Armored
//RGF+LightInfantry
//RGF+Mechanized
//RGF+Motorized
//RGF+Support

//TLF+AirAssault
//TLF+Armored
//TLF+Mechanized
//TLF+Motorized
//TLF+Support

//USA+AirAssault
//USA+Armored
//USA+LightInfantry
//USA+Mechanized
//USA+Motorized
//USA+Support

//USMC+Amphibious
//USMC+Armored
//USMC+LightInfantry
//USMC+Motorized
//USMC+Support

//VDV+AirAssault
//VDV+Amphibious
//VDV+Armored
//VDV+Mechanized
//VDV+Support

//WPMC+AirAssault
//WPMC+LightInfantry